<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535499315916-68f3q45v72kalkn9toroucnoc82ncvfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535499315916-68f3q45v72kalkn9toroucnoc82ncvfn</string>
	<key>API_KEY</key>
	<string>AIzaSyA2VSHzd6h-_rC-k3QuSvIVU37L6LN49T0</string>
	<key>GCM_SENDER_ID</key>
	<string>535499315916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setthasit.yadar.weath</string>
	<key>PROJECT_ID</key>
	<string>weathapp-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>weathapp-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535499315916:ios:dcc8ac13addf224c164069</string>
</dict>
</plist>